<script id='rink-list-item-template' type='text/x-handlebars-template'>
  <div class='icon'>
  	<%= image_tag '{{rink_type}}.png' %>
  </div>
  <div class='info'>
    <h3>{{name}}</h3>
    <span>{{address}}&nbsp;({{type}} Rink)</span>
  </div>

  <div class='clearfix'></div>
</script>