<script id='rink-list-template' type='text/x-handlebars-template'>
  <div class='spacer'></div>
  
  <ul id='rinks'></ul>

  <div id='loader'>
    <%= image_tag 'process.png', :size => '16x16' %>Loading...
  </div>
</script>
