<script id="rink-view-template" type="text/x-handlbars-template">
  <div class='spacer'></div>

  <div class='top'>
    <h2>{{name}}</h2>
    <h3>{{address}}&nbsp;&nbsp;({{type}} Rink)</h3>

    <a href='tel:{{phone}}'>
      <div class='phone'>
        <div class='inner'>
          <%= image_tag 'phone.png', :size => '20x20' %>
        </div>
      </div>
    </a>
  </div>

  <ul>
    <li><%= link_to 'Directions', 'http://maps.google.com/maps?f=d&saddr={{address}}' %></li>
    <li><%= link_to 'City Info', 'http://www.hamilton.ca/CultureandRecreation/Recreation/CentresPoolsArenas/arenaListing.htm' %></li>
  </ul>

  <div class='map_holder'>
    <img src='http://maps.googleapis.com/maps/api/staticmap?center={{latitude}},{{longitude}}&size=480x150&maptype=roadmap&markers=size:med%7C{{latitude}},{{longitude}}&sensor=false' />
  </div>

  <h4 class='first'>Activities</h4>
  {{#if hasActivities}}
    <table border='0' class='activities' cellspacing='0' style='width:100%;' id='activities'>
    </table>
  {{else}}
    <p>No scheduled public activities.</p>
  {{/if}}

  {{#if note}}
    <h4>Notes</h4>
    <p>{{note}}</p>
  {{/if}}
</script>