// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Cross-browser box-shadow */
@mixin boxshadow($horizontal, $vertical, $blur, $color, $type: "") {
  -moz-box-shadow: #{$type} $horizontal $vertical $blur $color;
  -webkit-box-shadow: #{$type} $horizontal $vertical $blur $color;
  box-shadow: #{$type} $horizontal $vertical $blur $color;
}

body {
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  min-width: 960px;
  min-height: 400px;
}

#header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 44px;
  z-index: 100;

  color: white;
  @include boxshadow(-1px, 2px, 8px, #666);

  background: #111111;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F3F3F', endColorstr='#111111');
  background: -webkit-gradient(linear, left top, left bottom, from(#3F3F3F), to(#111111));
  background: -moz-linear-gradient(top,  #3F3F3F,  #111111);

  h1 {
    float: left;
    line-height: 44px;
    font-size: 2.4em;
    padding-right: 10px;
  }

  #logo {
    float: left;
    padding: 6px 6px;
    cursor: pointer;
    outline: 0;
    border: 0;
  }

  #input_container {
    left: 50%;
    position: absolute;
    margin-left: -225px;

    h3 {
      display: inline;
      line-height: 44px;
      font-size: 1.6em;
      padding-right: 10px;
    }

    input {
      color: #777;
      font-size: 1.6em;

      outline: none;
      border: 1px solid black;

      padding: 6px 5px 5px 5px;
      margin-top: 6px;
      width: 250px;

      @include boxshadow(0px, 0px, 4px, #AAA, "inset");
    }

    a img {
      border: none;
      float: none;
      vertical-align: middle;
      margin: -6px 0 0 0px;
      padding: 6px 6px;
    }
  }
}

#map_canvas {
  position: absolute;
  top: 44px;
  left: 0px;
  width: 100%;
  display: block;
}

#map {
  z-index: 0;
  position: relative;
  height: 100%;
  margin-left: 400px;
}

#left_panel {
  top: 44px;
  left: 0px;
  position: absolute;
  border-right: 4px solid black;
  z-index: 2;
  background: white;
  width: 400px;
  overflow-y: auto;

  #contents {
    width: 353px;
    padding: 30px 15px;
    display: block;

    h1 {
      text-align: center;
      font-size: 3.4em;
      line-height: 1.6em;
    }

    h3 {
      font-weight: normal;
      text-align: center;
    }

    #footer {
      text-align: center;
      font-size: 1.4em;
      margin-top: 40px;

      a {
        padding: 0 4px;
        color: black;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    #tasks {
      list-style: none;
      margin-top: 1.5em;

      li {
        padding: 8px 5px;
        border-bottom: 1px solid #CCC;

        img {
          padding: 2px;
          margin-right: 10px;
          border: 1px solid #999;
          float: left;
        }

        h2 {
          margin-bottom: 3px;
        }

        h3 {
          text-align: left;
          line-height: 1.4em;
        }
      }

      li:last-child {
        border-bottom: none;
      }
    }

    form {
      margin-top: 1.5em;

      label {
        font-size: 1.6em;
        line-height: 2;
      }

      input[type="text"], textarea {
        border: 1px solid #666666;
        padding: 4px 2px;
        width: 80%;
        font-size: 1.6em;
        font-family: Helvetica, Arial, sans-serif;
      }

      input[type="submit"] {
        margin: 15px 0;
        padding: 8px 20px;
        font-size: 1.6em;
        font-weight: bold;

        border: 1px solid #AAA;
        border-top: 1px solid #BBB;

        background: #C4C4C4;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F4F4', endColorstr='#C4C4C4');
        background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#C4C4C4));
        background: -moz-linear-gradient(top,  #F4F4F4, #C4C4C4);

        text-decoration: none;
        color: rgba(0, 0, 0, .8);
        text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
      }
    }

    .rink_details {
      margin-top: -10px;

      h2 {
        font-size: 2.8em;
      }

      h4 {
        font-size: 1.6em;
        font-weight: normal;

        .type {
          color: green;
          font-size: 0.9em;
          font-weight: bold;
        }
      }

      h3 {
        font-weight: bold;
        font-size: 2em;
        border-bottom: 1px solid #999;
        text-align: left;
        margin-bottom: 5px;
        margin-top: 15px;
      }

      h3:first-child { margin-top: 0px; }

      .share {
        padding-top: 10px;
        display: none;
      }

      #entrance {
        background: #FEFF86;
        display: none;
        padding: 8px;
        margin-bottom: 10px;
        font-size: 1.4em;
        line-height: 1.4;
        border: 2px solid #E7E7CA;
      }

      p {
        font-size: 1.4em;
        line-height: 1.5;
      }

      table.activities {
        margin-top: -3px;

        td, th {
          font-size: 1.4em;
          padding-bottom: 3px;
          padding-top: 3px;
          text-align: left;
        }

        th {
          border-bottom: 1px solid #DDD;
        }

        td.last {
          border-bottom: 1px solid #DDD;
          margin-bottom: 2px;
        }

        td.end {
          text-align: right;
        }
      }

      a { border: none; text-decoration: none; }
      img { border: none; outline: none; }
    }
  }
}
  
#left_panel_control {
  img {
    position: absolute;
    left: 404px;
    top: 50%;
    z-index: 1000;
    cursor: pointer;
  }
}

.up_triangle {
  background-image: url('/assets/triangles.png');
  background-repeat: no-repeat;
  background-position: 0px -10px; height: 9px; width: 16px;
  position: absolute;
  margin-left: 6px;
  top: 50px;
  left: 50%;
  z-index: 20;
}

#info_bubble {
  position: absolute;
  top: 58px;
  left: 50%;

  width: 242px;
  margin-left: -115px;
  padding: 8px 8px 5px 10px;

  z-index: 10;
  background: white;

  border: 1px solid #AAA;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;

  @include boxshadow(2px, 2px, 4px, #888);

  h3 {
    font-size: 2em;
    float: left;
    margin: 0px auto;
    padding: 2px 0px 2px 0px;
  }

  img {
    float: right;
    padding: 4px 4px 4px 5px;
    background: black;
    border-radius: 12px;
  }

  #words {
    margin-top: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
  }

  .close {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    color: white;
    font-size: 1.2em;

    padding: 3px;

    .image {
      background-image: url('/assets/gmail.png');
      background-position: -40px -100px;
      height: 16px;
      width: 16px;
      float: right;
      margin-left: 5px;
      vertical-align: middle;
    }
  }

  .close:hover {
    color: #999;

    .image {
      background-color: #EEE;
    }
  }
}

.action_buttons {
  display: block;
  margin: 8px 0 0 0;
  padding: 0;
  list-style: none;

  width: 353px;

  li {
    float: left;
    width: 117px;

    button {
      width: 100%;
      text-align: center;
      text-decoration: none;
      font-size: 1.4em;
      color: #333;
      font-weight: bold;
      padding: 8px 0;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F4F4', endColorstr='#C4C4C4');
      background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#C4C4C4));
      background: -moz-linear-gradient(top, #F4F4F4, #C4C4C4);

      border-top: 1px solid #AAA;
      border-right: none;
      border-bottom: 1px solid #999;
      border-left: 1px solid #999;

      img {
        padding-right: 3px;
        vertical-align: text-top;
      }

      &.start {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &.last {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-right: 1px solid #999;
      }

      &:hover {
        color: #000;
        cursor: pointer;
      }

      &:active {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E4E4E4', endColorstr='#B4B4B4');
        background: -webkit-gradient(linear, left top, left bottom, from(#E4E4E4), to(#B4B4B4));
        background: -moz-linear-gradient(top, #E4E4E4, #B4B4B4);
      }
    }

    &:first-child, &:last-child {
      width: 118px !important;
    }
  }

  &:after {
    clear: both;
    content: "";
    display: table;
  }
}